---
const platform = "github";
const username = "joel-s";
---

<footer>
  <p>
    Learn more about me and my projects on
    <a href="https://www.linkedin.com/in/jsullivan6/">LinkedIn</a> and
    <a href="https://www.github.com/joel-s">GitHub</a>!
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>
